<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h2>Search by:</h2>

        <p>
            @foreach (var column in ViewBag.columns)
            {
                <span>
                    <input type="radio" name="searchType" id="@column.Key" value="@column.Key" checked="@column.Key == 'all'" />
                    <label for="@column.Key">@column.Value</label>
                </span>
            }

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />


@*I added the closing div tag below but that didn't fix my problem*@
</div>
    @{
        //TODO #4: Loop over the search results to display all job fields.
    }

@*make a new div here?*@

<table class="job-listing">

            
            @if (ViewBag.jobs == null)
            {
                <p style="font-size:150%"><i>***start your search here***</i></p>
            }
            else
            {
            @foreach (var field in ViewBag.jobs)
            {
                <tr>
                    <td>ID: @field.Id<br />Name: @field.Name<br />Employer: @field.Employer<br />Location: @field.Location<br />Position Type: @field.PositionType<br />Skill: @field.CoreCompetency</td>
                </tr>
            }
            }
            </table>





@*the code copied from my list view*@
@*deleted bc copied wrong fragment*@
  
